h1{
    color: rgb(89, 20, 185);
}

label{
    color: white;
    background-color: rgb(89, 16, 141);
    padding: 8px;
}

input[type="button"],input[type="reset"]{
    color: white;
    background: rgb(21, 15, 179);
    font-size: 22px;
}

marquee{
    font-size: 16px;
    color: red;
}